.jumbotron{
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 0px 0px 50px black;
    background-color: yellowgreen;
    margin-top: 5vw;
}

.btn{
  box-shadow: 0px 0px 10px black;
  margin: auto;
  font-family: monospace
}

body{
  font-family: cursive;
  background-color: lightyellow;
}

.col-md-5 {
  background-color: purple;
  border-radius: 5px;
  margin: auto;
  border: 5px black;
  color: white;
}
